:root {
  --body-primary-font-family: monospace;
  --body-bg-color: black;
  --body-fg-color: rgb(174, 174, 174);
  --body-fg-color-header: white;
  --body-fg-color-deemphasize-nontext: rgb(57, 57, 57);
  --body-fg-color-deemphasize-text: gray;
  --body-bg-color-code: rgb(0, 0, 0);
  /* --body-fg-color-code: rgb(9, 255, 0); */
  /* --body-fg-color-link: rgb(0, 102, 204); */
  --body-fg-color-code: rgb(231, 154, 0);
  --body-fg-color-link: rgb(9, 255, 0);
}

body {
  color: var(--body-fg-color);
  background-color: var(--body-bg-color);
  font-family: var(--body-primary-font-family);
  line-height: 1.5;
  margin: 0 auto;
  padding: 2rem;
  max-width: 60rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  color: var(--body-fg-color-header);
}

nav {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1rem;
}

nav svg {
  vertical-align: middle;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

code {
  color: var(--body-fg-color-code);
  background-color: var(--body-bg-color-code);
}

a {
  color: var(--body-fg-color-link);
}

ul {
  list-style-type: "* ";
}

thead {
  font-weight: bold;
}
th, td {
  margin: 0;
  padding: 0.25em .5em 0.25em .5em;
  vertical-align: top;
  text-align: left;
}
