<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="icon" type="image/svg+xml" href="/phosphor-yin-yang.svg">

    {{ $title := .Title | default .Site.Title -}}
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}" />

    {{ $desc := .Page.Params.Description | default .Site.Params.Description | markdownify -}}
    <meta property="og:description" content="{{ $desc }}" />
    <meta name="description" content="{{ $desc }}">

    <meta property="og:type" content="website" />
    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:url" content="{{ .Permalink }}" />

    <!--This styles the iOS overscroll area-->
    <meta name="theme-color" content="#FFFFFF" media="all">

    {{- $siteCss := resources.Get "style/site.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $siteCss.Permalink }}">

    {{ with .Site.Params.FathomSiteCode }}<script src="https://cdn.usefathom.com/script.js" data-site="{{ . }}" defer></script>{{ end }}
  </head>

  <body>

    <nav>
      <ul>
        <li><a href='{{ "/" | relLangURL }}'><svg style="color:currentColor; stroke:currentColor; fill:currentColor;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM40,128a88.1,88.1,0,0,1,88-88,40,40,0,0,1,0,80A56,56,0,0,0,77.39,200,88,88,0,0,1,40,128Zm88,88a40,40,0,0,1,0-80,56,56,0,0,0,50.61-79.95A88,88,0,0,1,128,216Zm12-40a12,12,0,1,1-12-12A12,12,0,0,1,140,176ZM116,80a12,12,0,1,1,12,12A12,12,0,0,1,116,80Z"></path></svg></a></li>
        <li><a href='{{ "/symmetries/" | relLangURL }}'>symmetries</a></li>
        <li><a href='{{ "/groupid/" | relLangURL }}'>groupid</a></li>
      </ul>
    </nav>

    <h1>{{ .Title }}</h1>

    <main id="content">
      {{ block "main" . }}{{ .Content }}{{ end }}
    </main>
  </body>
</html>